#![enable(implicit_some)]
(
    border_width: 2,
    margin: [4, 4],
    default_border_color: "#040403",
    floating_border_color: "#9C946D",
    focused_border_color: "#c0c0c0",
    background_color: "#040403",
)